<div>
  <h1 class="page-title">Game:</h1>

  <div class="show">
    <p>Date: <%= @game.game_date %></p>
    <p>Players: <%= @player1.name %>, <%= @player2.name %></p>
    <p>Winner: <% if @game.winner == nil %>
                 <%= "Not played" %>
               <% else %>
                 <%= @game.winner.name  %>
               <% end %></p>
    <p>Score: <%= @player1.score(@game.id) %> : <%= @player2.score(@game.id) %></p>

    <form method="POST" action="/games/<%= @game.id %>/delete">
      <button type="submit" class="delete-button">Delete Game</button>
    </form>
  </div>
</div>