<h1>Game:</h1>

<p>Date: <%= @game.game_date %></p>
<p>Time: <%= @game.game_time %></p>
<p>Players: <%= @player1.name %>, <%= @player2.name %></p>
  

<form method="POST" action="/games/<%= @game.id %>/delete">
  <button type="submit">Delete Game</button>
</form>