<div>
  <h1 class="page-title"><%= @tournament.name %></h1>

  <div class="show">
    
    <h2>Players:</h2>
    <ul>
      <% @players.each do |player| %>
        <li><%= player.name %></li>
      <% end %>
    </ul>

    <h2>Fixtures:</h2>
    <ul>
      <% @games.each do |game| %>
        <li><%= game.game_date %> | <%= game.players[0].name %> Vs <%= game.players[1].name %> | <%= game.scores %></li>
      <% end %>
    </ul>

    <form method="POST" action="/players/<%= @tournament.id %>/delete">
      <button type="submit">Delete</button>
    </form>
  </div>
</div>