<div>
  <h1 class="page-title"><%= @tournament.name %></h1>

  <div class="show">
    
    <p>Players:</p>
    <ul>
      <% @players.each do |player| %>
        <li><%= player.name %></li>
      <% end %>
    </ul>

    <% if @tournament.format == "League" %>
      <p>Fixtures:</p>
    <% else %>
      <p>Round 1:</p>
    <% end %>
    <ul>
      <% @games.each do |game| %>
        <li><%= game.game_date %> | <%= game.players[0].name %> Vs <%= game.players[1].name %> | <%= game.scores %></li>
      <% end %>
    </ul>

    <a href="/tournaments/<%= @tournament.id %>/edit" class="link">Edit Tournament</a>

    <form method="POST" action="/tournaments/<%= @tournament.id %>/delete">
      <button type="submit" class="delete-button">Delete</button>
    </form>
  </div>
</div>