<div>
  <h1 class="page-title"><%= @tournament.name %></h1>

  <div class="show-tournaments">
    
    <p>Players:</p>
    <ul>
      <% @players.each do |player| %>
        <p><%= player.name %></p>
      <% end %>
    </ul>

    <% if @tournament.format == "League" %>
      <p>Fixtures:</p>
    <% else %>
      <p>Round 1:</p>
    <% end %>
    <ul>
      <% @games.each do |game| %>
        <p><%= game.game_date %> | <%= game.players[0].name %> Vs <%= game.players[1].name %> | 
        <% if game.scores.join(' - ') != '0 - 0' %>
          <%= game.scores.join(' - ') %>
        <% else %>
          <%= 'Unplayed' %>
        <% end %>
        </p>
      <% end %>
    </ul>

    <a href="/tournaments/<%= @tournament.id %>/edit" class="link">Edit Tournament</a>

    <form method="POST" action="/tournaments/<%= @tournament.id %>/delete">
      <button type="submit" class="delete-button">Delete</button>
    </form>
  </div>
</div>