<div>
  <h1 class="page-title"><%= @tournament.name %></h1>

  <div class="show-tournaments">
    
    <p>Players:</p>
    <ul>
      <% @players.each do |player| %>
        <p><%= player.name %></p>
      <% end %>
    </ul>

    <p>Fixtures:</p>

    <% if @tournament.format == "League" || @tournament.format == "League" %>

      <ul>
        <% @games.each do |game| %>
          <p><%= game.players[0].name %> Vs <%= game.players[1].name %> | 
          <% if game.scores.join(' - ') != '0 - 0' %>
            <%= game.scores.join(' - ') %>
          <% else %>
            <% unplayed_games = [] %>
            <% unplayed_games.push(game) %>
            <%= 'Unplayed' %>
          <% end %>
          </p>
          <a href="/games/<%= game.id %>/edit" class="link add-result-link">Add Result</a>
        <% end %>
    <% end %>



    <% if @tournament.format == "Knock-Out" %>
      <ul>
        <% @games.each do |game| %>
          <p>Round <%= game.tournament_round %>: <%= game.players[0].name %> Vs <%= game.players[1].name %> | 
          <% if game.scores.join(' - ') != '0 - 0' %>
            <%= game.scores.join(' - ') %>
          <% else %>
            <% unplayed_games = [] %>
            <% unplayed_games.push(game) %>
            <%= 'Unplayed' %>
          <% end %>
          </p>
          <a href="/games/<%= game.id %>/edit" class="link add-result-link">Add Result</a>
        <% end %>
        </ul>
        <form method="POST" action="/tournaments/<%= @tournament.id %>/next-round">
          <button type="submit" class="button">Next Round</button>
        </form>
    <% end %>
      

      

    <a href="/tournaments/<%= @tournament.id %>/edit" class="link">Edit Tournament</a>

    <form method="POST" action="/tournaments/<%= @tournament.id %>/delete">
      <button type="submit" class="button">Delete</button>
    </form>
  </div>
</div>